extends ../layout

block content

  h3 Enter New Room Data
  form.form-horizontal(id='new-room-form', method='POST', action='/rooms/new_room_form')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', placeholder='Room Name', autofocus)
    .form-group
      label.col-sm-3.control-label(for='height') Height
      .col-sm-7
        input.form-control(type='text', name='height', id='height', placeholder='Height')
    .form-group
      label.col-sm-3.control-label(for='width') Width
      .col-sm-7
        input.form-control(type='text', name='width', id='width', placeholder='Width')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Submit New Tag