extends layout

block content

  h3 Find My Item
  form.form-horizontal(id='new-room-form', method='POST', action='/find')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Item Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', placeholder='Item Name', autofocus)
    .form-group
      label.col-sm-3.control-label(for='roomName') Room to Search
      .col-sm-7
        input.form-control(type='text', name='roomName', id='roomName', placeholder='Room Name')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          | Sniffit