<!DOCTYPE html>
<html>
	<link rel='stylesheet', href='/stylesheets/style.css'>
    <h1> Sniffit </h1>
    <form action="/api/users" method="post">
    	<%- loginForm.toHTML() %>
    	<div>
    	<input type="submit" value="Submit"/>
    	</div>
    </form>
</html>