include mixins

extends layout

block content
	body(style="padding-bottom:10rem; padding-top:10rem; padding-right:10rem; padding-left:10rem;")
		div.container
			script( src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
			script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
			div.row
				div.span5.offset2

				// Login form
				br
				form.form-horizontal(action='/login', method='post')
					fieldset
						h1 Sign Up

						div.control-group
							label.control-label(for='inputUserName') Your Name
							div.controls
								input#inputUserName.input-large(name='username', type='text', placeholder='Username', required)
						div.control-group
							label.control-label(for='inputPassword') Password
							div.controls
								input#inputPassword.input-large(name='password', type='password', placeholder='Password', required)
						br
						div.control-group
							div.controls
								+button("primary", "/profile", "small") Sign Up
				p Already registered?  
					a(href='/login') Login

