extends ../layout

block content

  h3 Edit Tag Data
  form.form-horizontal(id='new-tag-form', method='POST', action='/rfidtags/edit_tag_form')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='rfid_tag_id', value=tag_data._id)
    .form-group
      label.col-sm-3.control-label(for='tagId') Tag ID
      .col-sm-7
        input.form-control(type='text', name='tagId', id='tagId', value=tag_data.tagId, autofocus)
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', value=tag_data.name)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Edit Tag