extends ../layout

block content

  h3 Enter New Tag Data
  form.form-horizontal(id='new-tag-form', method='POST', action='/rfidtags/new_tag_form')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='tagId') Tag ID
      .col-sm-7
        input.form-control(type='text', name='tagId', id='tagId', placeholder='Tag ID', autofocus)
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', placeholder='Item Name')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Submit New Tag