extends ../layout

block content

  h3 Enter New Snap Dragon Data
  form.form-horizontal(id='new-room-form', method='POST', action='/snapdragons/new_snapdragon_form')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='roomId') Name
      .col-sm-7
        input.form-control(type='text', name='roomId', id='roomId', placeholder='Room Name', autofocus)
    .form-group
      label.col-sm-3.control-label(for='ipAddress') IP Address
      .col-sm-7
        input.form-control(type='text', name='ipAddress', id='ipAddress', placeholder='IP Address')

    .form-group
      select(name='carlist', form='carform')
        option(value='volvo') Volvo
        option(value='saab') Saab
        option(value='opel') Opel
        option(value='audi') Audi

    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Submit New Snap Dragon